.project-container {
  height: 70%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10%;
  flex-wrap: wrap;
}

.project-image {
  height: 200px;
  width: auto;
  border: #fff solid 1px;
}

.project-title,
.project-sub,
.project-link,
.project-descrip {
  color: #fff;
}
.description-container {
  height: 50px;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
}
.project-title:hover {
  color: #dffd44;
}

a:hover {
  color: #dffd44;
}

.project-descrip {
  font-size: large;
}
