.project-container {
  height: 75%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.project-image {
  height: 200px;
  width: auto;
  border: #fff solid 1px;
}

.project-title,
.project-sub,
.project-link,
.project-descrip {
  color: #fff;
  text-align: center;
}
.description-container {
  height: 50px;
  width: 500px;
}
.project-title:hover {
  color: #dffd44;
}

.project-descrip {
  font-size: large;
}
