.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em;
}

.project-image {
  height: 12.5em;
  width: auto;
  border: #F8F1F1 solid 1px;
  box-shadow: 0px 0px 10px  #000000;

}


.project-sub,
.project-title
.project-descrip {
  color: #F8F1F1;
  text-align: center;
}
.description-container {
  height: 50px;
  width: 500px;
}

.project-title:hover {
  color: #ffa62b;
}

.project-descrip {
  font-size: large;
}
