{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@500&family=Russo+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link href="{% static 'css/default.css' %} " rel="stylesheet">
<link id="theme-style" rel="stylesheet" href="">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="main-container">
    <h3>Post Form</h3>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Submit Post">
    </form>


</div>


{% endblock content %}

<script type='text/Javascript'> 
    let static = " {% static 'css' %}"
</script>


<script src="{% static 'js/color.js' %}"></script>