.animated-name {
  height: 70px;
  animation: fill 0.5s ease forwards 2.2s;

}

.animated-name path:nth-child(1) {
  stroke-dasharray: 283.7px;
  stroke-dashoffset: 283.7px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(2) {
  stroke-dasharray: 317px;
  stroke-dashoffset: 317px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(3) {
  stroke-dasharray: 274.3px;
  stroke-dashoffset: 274.3px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(4) {
  stroke-dasharray: 361.5px;
  stroke-dashoffset: 361.5px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(5) {
  stroke-dasharray: 321.6px;
  stroke-dashoffset: 321.6px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(6) {
  stroke-dasharray: 300.3px;
  stroke-dashoffset: 300.3px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(7) {
  stroke-dasharray: 327px;
  stroke-dashoffset: 327px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(8) {
  stroke-dasharray: 437.85px;
  stroke-dashoffset: 437.85px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(9) {
  stroke-dasharray: 327.2px;
  stroke-dashoffset: 327.2px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(10) {
  stroke-dasharray: 369.6px;
  stroke-dashoffset: 369.6px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(11) {
  stroke-dasharray: 223.7px;
  stroke-dashoffset: 223.7px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(12) {
  stroke-dasharray: 241.3px;
  stroke-dashoffset: 241.3px;
  animation: line-anim 2s ease forwards;
}

.animated-name path:nth-child(13) {
  stroke-dasharray: 321.6px;
  stroke-dashoffset: 321.6px;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #f8f1f1;
  }
}
