.contact-form {
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    list-style: none;
    overflow: hidden;
  }
}
input {
  width: 25%;
  height: 50px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

textarea {
  width: 25%;
  height: 100px;
  font-size: 16px;
  resize: none;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.flat-button {
  width: 10%;
  padding: 10px 10px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #fff;
}

.flat-button:hover {
  color: #dffd44;
  border: 1px solid #dffd44;
}

::placeholder {
  text-align: center;

  color: #fff;
}
