.contact-form {
  width: 30vw;
  border: #fff solid 1px;
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 1em;
    margin: 0;
    list-style: none;
    overflow: hidden;
  }
}

textarea,input{
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;

}

input {
  height: 50px;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

textarea {
  height: 100px;
  resize: none;
}

.flat-button {
  width: 25%;
  padding: 10px 10px;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #fff;
}

.flat-button:hover{
  color: #dffd44;
  border: solid 1px #dffd44;
}

::placeholder {
  text-align: center;
  color: #fff;
}
