.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  a {
    font-size: 25px;
    display: block;
    line-height: 50px;
    position: relative;
    padding: 5% 15% 0%;
  }
}
